html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      p
        strong First name:
        br
        = firstName
      
      p
        strong Email:
        br
        = email
      
      p
        strong Birthday:
        br
        = birthday
        
      p
        strong Cell number:
        br
        = cellNumber
